/* Import fonts from googleapis online */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3";
}

/* Main Notice Editor tile configuration */
.container .card{
    background: linear-gradient(180deg, #a1a1a1a2, #3131319d 100%) no-repeat center center fixed;
}

/* Notice editor card header configuration */
.container .card .card-header{
    font-weight: 900;
    font-size: 30px;
    color: white;
    background: linear-gradient(150deg, #619eee, #0054f1 100%);
}

/* Padding and colour configuration for buttons */
.btn-group-sm > .btn, .btn-sm {
    padding: .75rem .45rem;
    color: #fff;
    background-color: #2265b1;
    border-color: #04366b4f;
    margin-bottom: 10px;
}
