/* Import fonts from googleapis online */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3";
}

/* Card background and width definition */
.container .card{
    background: linear-gradient(180deg, #a1a1a1a2, #3131319d 100%) no-repeat center center fixed;
    margin-left: 10px;
    margin-right: 13px;
}

/* Notice board tile definition including background image */
.container .card .card-body .row .card .card-body{
    background-image: url(NoticeBoardBackground.jpg);
    border-radius: 5px;
    align-content: center;
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(61, 14, 3, 0.74);
    text-shadow:1px 1px 10px rgb(0, 60, 255), 1px 1px 10px rgb(10, 108, 133);
}

/* Admin only notice board tile footer definition */
.container .card .card-body .row .card .card-footer{
    background: linear-gradient(150deg, #00f7ff, #4c00ff 100%) no-repeat center center fixed;
    border-radius: 5px;
    align-content: center;
    box-shadow: 5px 5px 10px rgba(61, 14, 3, 0.74);
}

/* Width of buttons in admin only notice board tile footer */
.container .card .card-body .row .card .card-footer .btn{
    width: 145px;
}

/* Notice Board Home Page text definition */
.container .card .card-header{
    font-weight: 900;
    font-size: 34px;
    text-align: left;
}

/* Create New Notice Board button definition */
.container .card .card-header .btn-group .btn{
    height: 50px;
    align-items: center;
    display: inline-flex;
    box-shadow: 1px 1px 10px rgb(0, 0, 0), 1px 1px 10px rgb(0, 204, 255);
}