{% extends "layout.html" %} {% block content %}
<section class="container">
    <div class="card">
        <div class="card-header">
            {{ post.title }}
            <a class="btn btn-sm btn-primary float-right" href="{{ url_for('list', indexID=discussion.id) }}">Go Back to List</a>
        </div>
        <div class="card-body">
            {{ post.description }}
        </div>
        
        <!--Notice Comments heading including Submit New Comment button !!!Need to update href for the button!!! -->
    <form method="POST" action="{{url_for('savecomment', indexID=discussion.id, postID=post.id)}}">
        <div class="card-header">
            Notice Comments
            {% if current_user.is_admin == false %}
            <input class="btn btn-sm btn-primary float-right" type="submit" id="submit" value="Submit New Comment"> &nbsp;
            {% endif %}
        </div>
        {% if current_user.is_admin == false %}
        <div class="card-body">
            <!--If user is a student they shouldn't see the add new comment bit they should only be able to see the Reply buttons-->
            <label for="title">Enter New Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        {% endif %}
    </form>

        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Student Comment</th>
                    <th>Date Comment Submitted</th>
                    {% if current_user.is_admin %}
                    <th style="width:30px;"></th>
                    {% endif %}
                </tr>
                {% for comment in post.comments %}
                    {% if comment.replyStatus == 1 %}
                        <tr bgcolor=#8FBC8F>
                            <td>{{ comment.comment }}</td>
                            <td>{{ comment.date }}</td>
                            {% if current_user.is_admin %}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-primary float-right" href="{{ url_for('reply', indexID=discussion.id, postID=post.id, commentID=comment.id) }}">Reply</a>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                    {% endif %}
                    {% if comment.replyStatus == 0 %}
                    <tr bgcolor=#CD5C5C>
                        <td>{{ comment.comment }}</td>
                        <td>{{ comment.date }}</td>
                        {% if current_user.is_admin %}
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-sm btn-primary float-right" href="{{ url_for('reply', indexID=discussion.id, postID=post.id, commentID=comment.id) }}">Reply</a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                    {% endif %}    
                {% endfor %}
            </table>
        </div>

        <div class="card-body">
            <div class="row">
                {% for discussion in discussions %}
                <div class="card" style="margin:10px; width: 21rem; height:15rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ discussion.topic }}</h5>
                        <small>{{ discussion.date }}</small>
                        <p class="card-text">{{ discussion.description }}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('list', indexID=discussion.id) }}" class="btn btn-sm btn-primary">Go Discussion</a>
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('form', indexID=discussion.id) }}">Update</a>
                                <a class="dropdown-item alertdiscussion" index_id="{{ discussion.id }}" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</section>

{% endblock content %}