{% extends "layout.html" %} {% block content %}
<link href="{{ url_for('static', filename='sweetalert2/createNoticeBoard.css') }}" rel="stylesheet" >
<section class="container">
    <div class="card">
        <form method="POST" action="{{ url_for('save') if discussion is none else  url_for('update', indexID=indexid) }}">
            <div class="card-header">
                NOTICE BOARD CREATION WINDOW
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label style= "color: white; font-weight: 500; font-size: 23px;" for="title" for="topic">Notice Board Title</label>
                    <input type="text" class="form-control" id="topic" name="topic" value="{{ discussion.topic }}">
                </div>
                <div class="form-group">
                    <label style= "color: white; font-weight: 500; font-size: 23px;" for="title" for="description">Module Link</label>
                    <textarea class="form-control" id="description" name="description" rows="1">{{ discussion.description }}</textarea>
                </div>

            </div>
            <div class="card-footer">
                <a class="btn btn-sm btn-secondary float-left" href="{{ url_for('discussion') }}">Cancel</a>
                <input class="btn btn-sm btn-primary float-right" type="submit" id="submit" value="Save"> &nbsp;
            </div>
        </form>
    </div>
</section>
{% endblock content %}