{% extends "layout.html" %} {% block content %}
<link href="{{ url_for('static', filename='sweetalert2/noticeListPageDesign.css') }}" rel="stylesheet" >
<section class="container">
    <div class="card">
        <div class="card-header">
            Notices List | {{ noticeBoard.title }}
            <div class="btn-group float-right">
                {% if current_user.is_admin %}
                <a class="btn btn-sm btn-primary float-right" href="{{ url_for('formpost', indexID=noticeBoard.id) }}">New Notice</a>
                {% endif %}
            </div>
            <a  class="btn btn-sm btn-primary float-right" href="{{ url_for('noticeBoardHomePage') }}">Go Back to Notice Home Page</a>
        </div>
        <div class="card-body">

            
            <!-- High Priority Table -->
            <table class="highPriorityTable" width="100%">
                <col style="width:88%">
	            <col style="width:12%">
                <tr>
                    <td colspan="5">High Priority Notices</td>
                    {% for notice in noticeBoard.notices %}
                        {% if notice.noticePriority == "High" %}
                            <tr>
                                <td>
                                    <a style = "color:white" href="{{ url_for('detail', indexID=noticeBoard.id, noticeID=notice.id) }}">{{ notice.title }}</a>
                                </td>
                                <td>{{ notice.date }}</td>
                                {% if current_user.is_admin %}
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('formpost', indexID=noticeBoard.id, noticeID=notice.id) }}">Update</a>
                                            <a class="dropdown-item alertnotice" index_id="{{ noticeBoard.id }}" notice_id="{{ notice.id }}" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>


            <!-- Medium Priority Table -->
            <table class="mediumPriorityTable" width="100%">
                <col style="width:88%">
	            <col style="width:12%">
                    <td colspan="5">Medium Priority Notices</td>
                    {% for notice in noticeBoard.notices %}
                        {% if notice.noticePriority == "Medium" %}
                            <tr>
                                <td>
                                    <a style = "color:white" href="{{ url_for('detail', indexID=noticeBoard.id, noticeID=notice.id) }}">{{ notice.title }}</a>
                                </td>
                                <td>{{ notice.date }}</td>
                                {% if current_user.is_admin %}
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('formpost', indexID=noticeBoard.id, noticeID=notice.id) }}">Update</a>
                                            <a class="dropdown-item alertnotice" index_id="{{ noticeBoard.id }}" notice_id="{{ notice.id }}" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>




            <!-- Low Priority Table -->
            <table class="lowPriorityTable" width="100%">
                <col style="width:88%">
	            <col style="width:12%">
                    <td colspan="5">Low Priority Notices</td>
                    {% for notice in noticeBoard.notices %}
                        {% if notice.noticePriority == "Low" %}
                            <tr>
                                <td>
                                    <a style = "color:white" href="{{ url_for('detail', indexID=noticeBoard.id, noticeID=notice.id) }}">{{ notice.title }}</a>
                                </td>
                                <td>{{ notice.date }}</td>
                                {% if current_user.is_admin %}
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('formpost', indexID=noticeBoard.id, noticeID=notice.id) }}">Update</a>
                                            <a class="dropdown-item alertnotice" index_id="{{ noticeBoard.id }}" notice_id="{{ notice.id }}" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>




            <!-- N/A Priority Priority Table -->

            <table class="naPriorityTable" width="100%">
                <col style="width:88%">
	            <col style="width:12%">
                    <td colspan="5">N/A Priority Notices</td>
                    {% for notice in noticeBoard.notices %}
                        {% if notice.noticePriority == "N/A" %}
                            <tr>
                                <td>
                                    <a style = "color:white" href="{{ url_for('detail', indexID=noticeBoard.id, noticeID=notice.id) }}">{{ notice.title }}</a>
                                </td>
                                <td>{{ notice.date }}</td>
                                {% if current_user.is_admin %}
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('formpost', indexID=noticeBoard.id, noticeID=notice.id) }}">Update</a>
                                            <a class="dropdown-item alertnotice" index_id="{{ noticeBoard.id }}" notice_id="{{ notice.id }}" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
            </table>


        </div>
    </div>
</section>

<!-- Sweet Alert -->

<link href="{{ url_for('static', filename='sweetalert2/sweetalert2.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='sweetalert2/sweetalert2.min.js') }}"></script>

<script>
    $(function() {
        $('.alertnotice').click(function() {
            var index_id = $(this).attr("index_id");
            var notice_id = $(this).attr("notice_id");
            Swal.fire({
                title: "Are you sure?",
                text: "Do you want to delete this discussion!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    window.location = "{{ url_for('deletenotice', indexID=0, noticeID=999) }}".replace(/0/, index_id).replace(/999/, notice_id);
                }
            });
        });
    });
</script>
{% endblock content %}