{% extends "layout.html" %} {% block content %}
<!-- Links page to noticeCommentPage css -->
<link href="{{ url_for('static', filename='sweetalert2/noticeCommentPage.css') }}" rel="stylesheet" >
<section class="container">
    <div class="card">

    <!-- Header colour for High priority notice -->
    {% if notice.noticePriority == "High" %}
        <div class="card-header" style="background: #ff0000;">
    {% endif %}

    <!-- Header colour for Medium priority notice-->
    {% if notice.noticePriority == "Medium" %}
        <div class="card-header" style="background: #ff8800;">
    {% endif %}

    <!-- Header colour for Low priority notice-->
    {% if notice.noticePriority == "Low" %}
        <div class="card-header" style="background: #00b0e6;">
    {% endif %}

    <!-- Header colour for N/A priority notice-->
    {% if notice.noticePriority == "N/A" %}
        <div class="card-header" style="background: #c2c2c2;">
    {% endif %}

            <!-- Header title for comments page containing the notice title and the level of priority -->
            {{ notice.title }} | {{ notice.noticePriority }} Priority
            <a class="btn btn-sm btn-primary float-right" href="{{ url_for('noticeList', indexID=noticeBoard.id) }}">Go Back to Notice List</a>
        </div>
        <div style="color: white" class="card-body">
            {{ notice.description }}
        </div>
            <!--Notice Comments heading including Submit New Comment button -->
            <form method="POST" action="{{url_for('savecomment', indexID=noticeBoard.id, noticeID=notice.id)}}">
            <!-- Header colour for High priority notice-->
            {% if notice.noticePriority == "High" %}
                <div class="card-header" style="background: linear-gradient(180deg, #ff0000, #ff000094 100%);">
            {% endif %}

            <!-- Header colour for Medium priority notice-->
            {% if notice.noticePriority == "Medium" %}
                <div class="card-header" style="background: linear-gradient(180deg, #ff8800, #ff8800a4 100%);">
            {% endif %}

            <!-- Header colour for Low priority notice-->
            {% if notice.noticePriority == "Low" %}
                <div class="card-header" style="background: linear-gradient(180deg, #00b0e6, #00b0e6ab 100%);">
            {% endif %}

            <!-- Header colour for N/A priority notice-->
            {% if notice.noticePriority == "N/A" %}
                <div class="card-header" style="background: linear-gradient(180deg, #c2c2c2, #c2c2c2a2 100%);">
            {% endif %}
                    Comments
                    <!-- Only allow students to view and click the submit new comment button -->
                    {% if current_user.is_admin == false %}
                    <input class="btn btn-sm btn-primary float-right" type="submit" id="submit" value="Submit New Comment"> &nbsp;
                    {% endif %}
                </div>
                <!-- Only students can see the enter new comment section -->
                {% if current_user.is_admin == false %}
                <div class="card-body">
                    <label style= "color: white; font-weight: 500; font-size: 23px;" for="title">Enter New Comment</label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>
                {% endif %}
            </form>
       
            <!-- Submitted comments table -->
            <div class="card-body">
                <table class="table">
                    <col style="width:79%">
                    <col style="width:10%">
                    <col style="width:11%">
                    <tr>
                        <!-- Span heading across 3 columns -->
                        <td colspan="3">Submitted Comments</td>
                        <!-- Loop through all comments on the notice -->
                                <tr>
     
                            {% for comment in notice.comments %}
                                <!-- If the comment has no replies set font glow to red -->
                                {% if comment.replies == [] %}
                                    <td style="text-shadow:1px 1px 10px rgba(255, 0, 0, 0.668), 1px 1px 10px rgba(170, 10, 10, 0.429);">{{ comment.comment }}</td>
                                    <td style="text-shadow:1px 1px 10px rgba(255, 0, 0, 0.668), 1px 1px 10px rgba(170, 10, 10, 0.429);">{{ comment.date }}</td>
                                <!-- If the comment has a reply set font glow of comment to green -->
                                {% else %}
                                    <td style="text-shadow:1px 1px 10px rgba(0, 255, 34, 0.568), 1px 1px 10px rgba(11, 216, 90, 0.329);">{{ comment.comment }}</td>
                                    <td style="text-shadow:1px 1px 10px rgba(0, 255, 34, 0.568), 1px 1px 10px rgba(11, 216, 90, 0.329);">{{ comment.date }}</td>
                                    {% endif %}

                                    <!-- Only show the Reply button if the user is an admin and regardless of whether or not the comment is replied to -->
                                    {% if current_user.is_admin %}
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-primary float-right" href="{{ url_for('reply', indexID=noticeBoard.id, noticeID=notice.id, commentID=comment.id) }}">Reply</a>
                                        </div>
                                    </td>
                                    {% endif %}
                            <!-- Only display View Replies if the comment is replied to and the user is not a tutor -->
                            {% if comment.replies != [] and current_user.is_admin == false %}
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-primary float-left" href="{{ url_for('reply', indexID=noticeBoard.id, noticeID=notice.id, commentID=comment.id) }}">View Replies</a>
                                        </div>
                                    </td>
                            {% endif %}
                            {% if comment.replies == [] and current_user.is_admin == false %}
                                    <td>
                                    </td>
                            {% endif %}
                                </tr>
                    </tr>
                    {% endfor %}
                </table>


</section>
{% endblock content %}