{% extends "layout.html" %} {% block content %}
<section class="container">
    <div class="card">
        <div class="card-header">
            Tutor - Replies
        </div>
            <div class="card-body">
                <h5>Original Comment:</h5>
                <pre>  
                <p class="card-text">{{ comment.comment }}</p>
                </pre>  
            </div>
            <form method="POST" action="{{url_for('savereply', indexID=discussion.id, postID=post.id, commentID=comment.id)}}">
                <div class="card-header">
                    Notice Comments
                    {% if current_user.is_admin %}
                    <input class="btn btn-sm btn-primary float-right" type="submit" id="submit" value="Submit New Reply"> &nbsp;
                    {% endif %}
                </div>
                {% if current_user.is_admin %}
                <div class="card-body">
                    <!--If user is a student they shouldn't see the add new comment bit they should only be able to see the Reply buttons-->
                    <label for="title">Enter New Comment</label>
                    <input type="text" class="form-control" id="reply" name="reply">
                </div>
                {% endif %}
            </form>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Tutor Replies</th>
                        <th>Date Reply Submitted</th>
                        <th style="width:30px;"></th>
                    </tr>
                    {% for reply in comment.replies %}
                    <tr>
                        <td>{{ reply.reply }}</td>
                        <td>{{ reply.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</section>
{% endblock content %}