{% extends "layout.html" %} {% block content %}
<link href="{{ url_for('static', filename='sweetalert2/noticeCommentRepliesPage.css') }}" rel="stylesheet" >
<section class="container">
    <div class="card">
        <div class="card-header">
            Replies
            <a class="btn btn-sm btn-primary float-right" href="{{ url_for('noticeCommentPage', indexID=noticeBoard.id, noticeID=notice.id) }}">Go Back to Comments</a>
        </div>
            <div class="card-body">

                <p style= "color: white; font-weight: 300; font-size: 21px;" class="card-text">{{ comment.comment }}</p>
 
            </div>
            <form method="POST" action="{{url_for('savereply', indexID=noticeBoard.id, noticeID=notice.id, commentID=comment.id)}}">
                <div class="card-header">
                    Notice Comments
                    {% if current_user.is_admin %}
                    <input class="btn btn-sm btn-primary float-right" type="submit" id="submit" value="Submit New Reply"> &nbsp;
                    {% endif %}
                </div>
                {% if current_user.is_admin %}
                <div class="card-body">
                    <!--If user is a student they shouldn't see the add new comment bit they should only be able to see the Reply buttons-->
                    <label style= "color: white; font-weight: 500; font-size: 23px;" for="title" for="title">Enter New Comment</label>
                    <input type="text" class="form-control" id="reply" name="reply">
                </div>
                {% endif %}
            </form>
            <div class="card-body">
                <table class="table table-striped">
                    <col style="width:88%">
                    <col style="width:12%">
                    <tr>
                        <td colspan="2">Submitted Replies</td>
                    </tr>
                    {% for reply in comment.replies %}
                    <tr>
                        <td>{{ reply.reply }}</td>
                        <td>{{ reply.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
    </div>
</section>
{% endblock content %}